# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage
*.out
*.prof
coverage.*
profile.cov

# Go workspace
go.work
go.work.sum

# Dependency directory
vendor/

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.project
.settings/
*.sublime-project
*.sublime-workspace

# Claude
.claude/
